<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Analisis</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
</head>

<body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">REMINDER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Registro <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Iniciar Sesion</a>
                </li>

            </ul>

        </div>
    </nav>



    <div class="container mt-5">
        <div class="row">

            <div class="col-md-5">
                <div class="card-body">
                    <H1> Iniciar sesion </H1>

                    <form method="post" action="/login">
                        <fieldset>

                            <% if (message.length > 0) { %>
                            <div class="alert alert-success col-sm-12"><%= message %></div>
                            <% } %>

                            <div class="form-group">
                                <label for="user_name">Nombre de usuario</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="user_name"
                                        placeholder="Nombre de usuario">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="password"
                                        placeholder="Contraseña">
                                </div>
                            </div>




                            <button id="btn-signup" type="submit" class="btn btn-success">Iniciar sesion</button>
                        </fieldset>
                    </form>


                </div>
            </div>
        </div>
    </div>
</body>

</html>