<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Analisis</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
  </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">REMINDER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

          </ul>

        </div>
      </nav>



<div class="container mt-5">
  <div class="row">

    <div class="col-md-5">
      <div class="card-body">
        <H1> Registro </H1>

        <form>
            <fieldset>

  
              

              <div class="form-group">
                <label for="first_name">Nombre</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="first_name" placeholder="Nombre">
                </div>
            </div>
            <div class="form-group">
                <label for="last_name">Apellido</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="last_name" placeholder="Apellido">
                </div>
            </div>
                                                                            <div class="form-group">
                <label for="mob_no">Correo</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="mail" placeholder="Correo">
                </div>
            </div>
                                                                            <div class="form-group">
                <label for="user_name">Nombre de usuario</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="account" placeholder="Nombre de usuario">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Contrase単a</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" name="password" placeholder="Contrase単a">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Confirmar Contrase単a</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" name="password" placeholder="Contrase単a">
                </div>
            </div>
            


              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>




      </div>
    </div>
  </div>
</div>
</body>
</html>